.portfolio__photography-heading {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    text-align: inherit;
}
.portfolio__photography-heading-bar {
    width: 10%;
    height: 6px;
    background: var(--gradient-bar);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
    margin-bottom: 0.25rem;
}
.portfolio__photography-container-img {
    box-shadow: 0.5rem 0.5rem 0.25rem;
    transition: 1s ease;
    max-width: 225px;
    height: auto;
    border-radius: 10px;
    border: 5px solid white;
}
.portfolio__photography-container p {
    color: #DAD3B4;
    font-family: var(--font-family);

    line-height: 30px;
}
.portfolio__photography-container-words {
    padding: 1rem;
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 30% -100%, #728DA8 5%, #728DA8 20%, #292C41 80%);
     /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #728DA8 5%, #728DA8 20%, #292C41 80%);
    /* opera 11.10+ */
     background:-o-radial-gradient(circle at 30% -100%, #728DA8 5%, #728DA8 20%, #292C41 80%);
    /* ie 10+ */
     background:-ms-radial-gradient(circle at 30% -100%, #728DA8 5%, #728DA8 20%, #292C41 80%);
      /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #728DA8 5%, #728DA8 20%, #292C41 80%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio__photography-image-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    align-content: center;
    justify-content: center; 
}

.child {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
    padding: 1rem;
    flex: 1 0 0;
}
/* .child-1 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
}
.child-2 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
}
.child-3 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
}
.child-4 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
}
.child-5 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
}
.child-6 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: 1s ease;
} */
.child:hover {
    z-index: 1;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 1s ease;
}
/* .child-2:hover {
    z-index: 4;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.child-3:hover {
    z-index: 3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.child-4:hover {
    z-index: 3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.child-5:hover {
    z-index: 3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
.child-6:hover {
    z-index: 3;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
} */
.DA-logo {
    padding-top: 1rem;
    padding-left: 1rem;
    max-width: 100px;
    filter: grayscale(100%);
    filter: brightness(100);
} 
@media screen and (max-width: 650px) {
    .portfolio__photography-container img {
        max-width: 100px;
        border: 2px solid white;
    }

    .DA-logo {
        max-width: 100px;
        border: none !important;
    }
    .child:hover {
        z-index: 1;
        -webkit-transform: scale(2,2);
        -ms-transform: scale(2,2);
        transform: scale(2,2);
        transition: 1.5s ease;
    }
}