@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #C9ADA7 1.84%, #F2E9E4 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #C9ADA7 -13.86%, #F2E9E4 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #22223B;
  --color-blog: #4A4E69;
  --color-text: #9A8C98;
  --color-subtext: #F2E9E4
}